@font-face {
    font-family: font1;
    font-weight:700 ;
    src: url(Inter-Bold.ttf);
  }
  @font-face {
    font-family: font1;
    font-weight:400 ;
    src: url(Inter-Regular.ttf);
  }
  @font-face {
    font-family: font1;
    font-weight:600 ;
    src: url(Inter-SemiBold.ttf);
  }